# Welcome to Covid19 Data Analysis Notebook
------------------------------------------

### Let's Import the modules

In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt 
print('Modules are imported.')

Modules are imported.

## Task 2

### Task 2.1: importing covid19 dataset
importing "Covid19_Confirmed_dataset.csv" from "./Dataset" folder.

In [8]:
corona_dataset_csv = pd.read_csv("Datasets/covid19_Confirmed_dataset.csv")
corona_dataset_csv.head(20)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/21/20,4/22/20,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,1092,1176,1279,1351,1463,1531,1703,1828,1939,2171
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,609,634,663,678,712,726,736,750,766,773
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,2811,2910,3007,3127,3256,3382,3517,3649,3848,4006
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,717,723,723,731,738,738,743,743,743,745
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,24,25,25,25,25,26,27,27,27,27
5,NaN,Antigua and Barbuda,17.0608,-61.7964,0,0,0,0,0,0,...,23,24,24,24,24,24,24,24,24,24
6,NaN,Argentina,-38.4161,-63.6167,0,0,0,0,0,0,...,3031,3144,3435,3607,3780,3892,4003,4127,4285,4428
7,NaN,Armenia,40.0691,45.0382,0,0,0,0,0,0,...,1401,1473,1523,1596,1677,1746,1808,1867,1932,2066
8,Australian Capital Territory,Australia,-35.4735,149.0124,0,0,0,0,0,0,...,104,104,104,105,106,106,106,106,106,106
9,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,3,4,...,2969,2971,2976,2982,2994,3002,3004,3016,3016,3025
10,Northern Territory,Australia,-12.4634,130.8456,0,0,0,0,0,0,...,28,28,28,28,28,28,28,28,28,28
11,Queensland,Australia,-28.0167,153.4000,0,0,0,0,0,0,...,1024,1024,1026,1026,1026,1030,1033,1034,1033,1033
12,South Australia,Australia,-34.9285,138.6007,0,0,0,0,0,0,...,437,438,438,438,438,438,438,438,438,438
13,Tasmania,Australia,-41.4545,145.9707,0,0,0,0,0,0,...,201,205,207,207,207,212,214,218,219,221
14,Victoria,Australia,-37.8136,144.9631,0,0,0,0,1,1,...,1336,1336,1337,1343,1346,1349,1349,1354,1361,1364
15,Western Australia,Australia,-31.9505,115.8605,0,0,0,0,0,0,...,546,546,546,548,549,549,549,550,551,551
16,NaN,Austria,47.5162,14.5501,0,0,0,0,0,0,...,14873,14925,15002,15071,15148,15225,15274,15357,15402,15452
17,NaN,Azerbaijan,40.1431,47.5769,0,0,0,0,0,0,...,1480,1518,1548,1592,1617,1645,1678,1717,1766,1804
18,NaN,Bahamas,25.0343,-77.3963,0,0,0,0,0,0,...,65,65,72,73,78,80,80,80,80,81
19,NaN,Bahrain,26.0275,50.5500,0,0,0,0,0,0,...,1973,2027,2217,2518,2588,2647,2723,2811,2921,3040

#### Let's check the shape of the dataframe

In [9]:
corona_dataset_csv.shape

NameError: name 'corona_datase_csv' is not defined

### Task 2.2: Delete the useless columns

### Task 2.3: Aggregating the rows by the country

### Task 2.4: Visualizing data related to a country for example China
visualization always helps for better understanding of our data.

### Task3: Calculating a good measure 
we need to find a good measure reperestend as a number, describing the spread of the virus in a country.

In [ ]:
corona_dataset_aggregated.loc['China'].plot()

### task 3.1: caculating the first derivative of the curve

### task 3.2: find maxmimum infection rate for China

### Task 3.3: find maximum infection rate for all of the countries.

### Task 3.4: create a new dataframe with only needed column

### Task4: 
- Importing the WorldHappinessReport.csv dataset
- selecting needed columns for our analysis 
- join the datasets 
- calculate the correlations as the result of our analysis

### Task 4.1 : importing the dataset

### Task 4.2: let's drop the useless columns

### Task 4.3: changing the indices of the dataframe

### Task4.4: now let's join two dataset we have prepared

#### Corona Dataset :

#### wolrd happiness report Dataset :

### Task 4.5: correlation matrix

### Task 5: Visualization of the results
our Analysis is not finished unless we visualize the results in terms figures and graphs so that everyone can understand what you get out of our analysis

### Task 5.1: Plotting GDP vs maximum Infection rate

### Task 5.2: Plotting Social support vs maximum Infection rate

### Task 5.3: Plotting Healthy life expectancy vs maximum Infection rate

### Task 5.4: Plotting Freedom to make life choices vs maximum Infection rate